<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simple Fetch Library</title>

</head>

<body>

  <div class="container">

    <h3>GET Request</h3>
    <button id="button1">Try It</button>
    <br />
    <pre id="output-get"></pre>
    <br />
    <script>

   
    </script>
  <script src="../../../server/dist/simpleFetch.js"  >
  </script>
  <script src="../actions.js" ></script>

</body>

</html>